@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');

body {
    font-family: 'Mali', cursive;
    /*background-size: cover;*/
    background-attachment: fixed;
    background: url(../images/fondo_opcional.jpg);
}

* {
    box-sizing : border-box;
}

.contenedor {
    width : 100%;
    padding : 15px;
}

.formulario {
    background: #ffffff;
    margin : auto;
    padding: 0 0 0 10px;
    background: rgba(255, 255, 255, 0.8);
    text-align : center;
}

h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    text-align : center;
    color : #cc1b4d;
    font-size : 40px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="datetime-local"],
select, input[type="number"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin-bottom : 15px;
    border : 1px solid #aaa;
}

.icon {
    min-width : 50px;
    text-align : center;
    color : #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #cc1b4d;
    padding : 15px 20px;
    border-radius : 5px;
    cursor : pointer;
}

.button:hover {
    background : #c41d34;
}

p {
    text-align : center;
}

.link {
    text-decoration: none;
    color: #cc1b4d;
    font-weight : 600;
}

.link:hover {
    color : cadetblue;
}

@media(min-width:768px){
    .formulario {
        margin : auto;
        width : 500px;
        margin-top : 150px;
        border-radius : 2%;
    }
}
