@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Mali', cursive;
  background: url(../images/fondo_opcional.jpg);
  /*background-size: cover;*/
  background-attachment: fixed;
}

nav {
  display : flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
}

.contenedora {
  text-align: center;
  padding-top: 120px;
}

.principal {
  display: flex;
  justify-content: center;
}

.noticias, .suscripcion {
  padding: 10px;
  margin: 10px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  text-align : center;
}

input[type=text] {
  border: 1px dotted #999;
  border-radius: 0;
  width: 50%;
  -webkit-appearance: none;
}

.suscripcion {
  line-height: 200px;
}

.noticias {
  width: 60%;
  height: 500px;
  overflow: auto;

}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.login, .register {
  font-size: 20px;
  text-decoration: none;
  margin: 10px 20px;
  display: inline-block;
  background: #cc1b4d;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 5px 0px #8c0b30;
  border-radius: 10px;
}

.login:hover, .register:hover {
  box-shadow: 0px 5px 0px #420315;
}
